@mixin respond($breakpoint){
  
    @if $breakpoint == phone {
        @media only screen and (max-width: 48.125em){ @content }; //770px
    }

     @if $breakpoint == pre-phone {
        @media only screen and (max-width: 56.25em){ @content }; //900px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 62.5em){ @content }; //1000px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em){ @content }; //1200px
    }

    @if $breakpoint == laptop {
        @media only screen and (max-width: 90em) {@content}; //1440px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em){ @content }; // + 1800px
    }
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin line{
    content: "";
    height: 1px;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
    margin: 0;

}

@mixin line-bottom{
    content: "";
    height: 1px;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 1.8rem;
    width: 1rem;
    left: 4.5rem;
}

@mixin  yellowBackground($font-size) {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size;
    background: #FFEA03;
    display: inline;
    box-shadow: 6px 0 0 #FFEA03, -6px 0 0 #FFEA03;
    line-height: 1.27em; 
}

@mixin date($top){
    color: white;
    font-family: 'Muli-Light', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    background: #000;
    display: inline;
    box-shadow: 6px 0 0 #000, -6px 0 0 #000;
    line-height: 1.27em; 
    padding: .5rem .9rem;
    position: absolute;
    top: $top;

}

@mixin imageOnGrid{
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin whiteBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

@mixin sub-titulo{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: 1.7rem;
    text-align: center;
}

@mixin paragrafo($text-align){
    font-family: 'Muli-Light', sans-serif;
    font-weight: 300;      
    text-align: $text-align; 
}

@mixin box{
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

@mixin buttonArticle{
    border: none;
    font-family: 'Muli-Light', sans-serif;
    padding: .2rem 0;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    justify-self: center;
    outline: none;
    position: relative;
    font-size: .9rem;
    margin-top: 1rem;
    letter-spacing: 1.9px;
}

@mixin palavra-pesquisada{
    font-family: 'Muli-Light', sans-serif;
    font-size: 1.6rem;
    color:rgba(0, 126, 255,.8);
    font-weight: 300;
    margin-left: .5rem;
    text-transform: uppercase;
}
