@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin line{
    content: "";
    height: 1px;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
    margin: 0;

}

@mixin line-bottom{
    content: "";
    height: 1px;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 1.6rem;
    width: 1rem;
    left: 1.6rem;
}

@mixin  yellowBackground($font-size) {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size;
    background: #FFEA03;
    display: inline;
    box-shadow: 6px 0 0 #FFEA03, -6px 0 0 #FFEA03;
    line-height: 1.27em; 
}

@mixin date($top){
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    background: #000;
    display: inline;
    box-shadow: 6px 0 0 #000, -6px 0 0 #000;
    line-height: 1.27em; 
    padding: .5rem .9rem;
    position: absolute;
    top: $top;

}

@mixin imageOnGrid{
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin whiteBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

@mixin sub-titulo{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: 1.7rem;
    text-align: center;
}

@mixin paragrafo($text-align){
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;      
    text-align: $text-align; 
}

@mixin box{
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}